<h1> Welcome, <%= @merchant_user.name %>!</h1>
<br>
<center>
  <h3><%= @merchant.name %></h3>
  <h3><%= @merchant.address %></h3>
  <h3><%= "#{@merchant.city}, #{@merchant.state} #{@merchant.zip}" %></h3>
</center>
