<h1>ID: <%= @order.id %></h1>
<article id='order-info'>
  <%= render partial: 'partials/order_info',
    locals: {
      id: @order.id,
      created_at: @order.created_at,
      updated_at: @order.updated_at,
      status: @order.status,
      item_orders: @order.item_orders,
      total_quantity: @order.total_quantity,
      grand_total: @order.grand_total
    }
  %>
</article>
