<h1>Welcome to Monster Shop!</h1>
<section style='display:flex;justify-content:center'>
  <span style='font-size:100px;'>&#128375;</span>
  <span style='font-size:100px;'>&#128128;</span>
  <span style='font-size:100px;'>&#127962;</span>
  <span style='font-size:100px;'>&#128123;</span>
  <span style='font-size:100px;'>&#128121;</span>
</section>
